# Ignore poetry virtual environments
__pycache__/
*.pyc
.env
venv/
.envrc
.poetry/
*.sqlite3
.mypy_cache/
*.log
test_utils.py
# Don't push data or large files
data/*.geojson

#Tiles
app/static/

# Node/React
node_modules/
dist/
.vite/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

#docker compose
docker-compose.yml
frontend/src/components/LanduseMap1.jsx