@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔹 Global app styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #111827; 
  color: #ffffff;            
  font-family: 'Inter', sans-serif;
}

.aside-spacing {
  margin-left: 20px;  
  margin-right: 20px;
}

/* 🔹 Sidebar */
sidebar {
  all: unset; 
  width: 258px;
  height: 100vh;             
  background-color: #86b31c; 
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none !important;
  border-radius: 0 !important;  
  padding: 0 !important;
  margin-left: 1rem;
}
/* 🔹 Buttons */
button {
  background-color:  #86b31c; 
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-left :21px
}

button:hover {
  background-color: #6d9615;
}

/* Special green button */
button.bg-green {
  background-color: #059669; 
}
button.bg-green:hover {
  background-color: #047857; 
}

.toggle-btn {
  all: unset;
  width: 62px;
  height: 100vh;             
  background-color: #86b31c; 
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none !important;
  border-radius: 0 !important; 
  padding: 0 !important;
}
.toggle-btn:hover {
  background-color: #6d9615; 
}


/* 🔹 Custom dropdown styles */
.custom-dropdown {
  background-color: #86b31c !important;
  color: white !important;
  border: 1px solid #86b31c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  appearance: none;
  width: 16rem;
  margin-left: 21px;
  margin-bottom: 13px;
}

/* 🔹 Dropdown list options */
.custom-dropdown-option {
  background-color: #86b31c;
  color: white;
  padding: 0.2rem;
  cursor: pointer;
}

/* 🔹 Dropdown list container */
.custom-dropdown-list {
  position: absolute;
  left: 21px; 
  margin-top: 0.15rem;
  max-height: 15rem;
  width: 16rem;
  overflow-y: auto;
  border-radius: 0.5rem;
  background-color: #1e293b;
  border: 0;
  z-index: 50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 🔹 Map container */
.map {
  width: 100%;
  height: 100vh;
  border-radius: 0;
  border: none; 
  box-shadow: none;
  position: relative;
}
